* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    margin-bottom: 20px;
}

html {
    font-size: 10px;
}

form {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 16px 24px;
    width: min(400px, 100%);

    border: 1px solid black;
    outline: none;
}


select {
    width: 300px;
    padding: 8px 16px;

    margin-top: 20px;
    margin-bottom: 10px;
    
}

button {
    width: 300px;
    padding: 15px;
    border-radius: 4px;
    background-color: #005543;
    color: #ffffff;
    border: 1px solid #005543;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}

#result {
    font-size: 2.2rem;
}